# More templates available here: https://github.com/github/gitignore

# Global ignores for editors
.vscode

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info

# Unit test / coverage reports
.coverage
.hypothesis/
.pytest_cache/
